/* Login page Styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    }
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: url(./assets/login.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .starter {
      width: 430px;
      height: 520px;
      background: transparent;
      border: 2px solid black;
      backdrop-filter: blur(20px);
      box-shadow: 0 0 10px rgba(0, 0, 0, .3);
      color: black;
      border-radius: 50px;
      padding: 10px;
    }

    .form{
        justify-content: center;
        align-items: center;
        height: 450px;
        margin-top: 20px;

    }
    
    .starter h1 {
      text-align: center;
      font-size: 40px;
    
    }
    
    .starter .form-group {
      position: relative;
      width: 100;
      height: 50px;
      margin: 30px 0;
    }
    
    .form-group input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background: transparent;
        border: 1px solid black;
        border-radius: 50px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        padding-left: 20px;
    }
    
    .form-group input::placeholder {
        color: #ffecd6;
        font-size: 20px;
        padding-left: 10px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
    }
    
    .form-group i {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
    }
    
    
    input[type="checkbox"] {
        margin-left: 140px;
        justify-content: center;
    }
    
    .remfo{
        border: 1px solid silver;
        margin-bottom: 30px;
        width: 170px;
        padding: 5px;
        margin-left: 200px;
        justify-content: center;
        color: #ffecd6;
    }

    .remfo:hover{
        background: blanchedalmond;
        color: black;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        transition: all.3s ease-in-out;
    }
    
    .starter .btn {
        width: 90%;
        height: 50px;
        margin-left: 20px;
        border: none;
        outline: none;
        background: blanchedalmond;
        border: 1px solid black;
        border-radius: 50px;
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        padding-left: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        cursor: pointer;
        color: black;
        margin-bottom: 20px;
        transition: all.3s ease-in-out;
    }
    
    .starter .btn:hover {
        transform: scale(1.05);
    }

